@import "tailwindcss";

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent;
}